.last-ten {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.garmin-connector-demo .last-ten-cycling {
  border: solid thick green ! important;
  padding-right: 10px;
}
.garmin-connector-demo .last-ten-running {
  border: solid thick red ! important;
  padding-right: 10px;
}
.garmin-connector-demo .plot-container {
  border: solid thick pink ! important;
}
.purge-activities-form-wrapper input.form-submit,
.refresh-activities-form-wrapper input.form-submit {
  margin-bottom: 2px;
  color: black;
}

.last-ten h3 {
  margin-bottom: 5px;
}

.last-ten .last-ten-workout {
  /*
    min-height: 2em;
    position: absolute;
  */
  /* top: 0px; */
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
  float: left;
  /*
    border-bottom: solid thin black;
    z-index: -100;
    overflow: hidden;
  */
  /* having padding here makes it hard to stick things inside */
  /*
  padding-left: 5px;
  */
  width: 100%;
}

.last-ten .duration {
  /* warning!!! this also affects the stuff in plot-container */
  /*
  margin-left: 5px;
  margin-right: 5px;
  */
  background-color: auto;
}

.last-ten .running {
  color: black;
}

.activity-manager-row.running {
  color: white;
}

.last-ten .running a,
.last-ten .running a:visited {
  color: white;
}

.last-ten .types {
  margin-top: 5px;
  margin-bottom: 5px;
}

.types span {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: -1px;
  border: solid thin black;
}

.plot-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: solid thin black;
  clear: left;
  /*
    float: left;
    margin-top: 10px;
    position: relative;
  */
  top: 0px;
  background-color: white;
}

.plot-container .title {
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.plot-container .sport {
  font-size: small;
}
.plot-container .activity-sumary {
  width: 100%;
}
.plot-container .name {
  font-weight: bold;
}
.plot-container .date,
.plot-container .duration,
.plot-container .te,
.plot-container .max-power,
.plot-container .normalized-power,
.plot-container .sum-tss,
.plot-container .sum-if,
.plot-container .hr {
  /*
  float: left;
  */
  clear: left;
  background-color: transparent;
}

.plot-container .gc-link {
  color: auto;
}

.plot-container .name {
  color: white;
}

.plot-window {
  margin-top: 20px;
  /* when you float this, the enclosing container has no height
  float: left;
  */
  width: 100%;
  min-height: 400px;
}

.plot-window .base {
  width: 100%;
}

.plot-window table {
  width: auto;
}

#block-garmin-connector-last-ten-non-z2-workouts {
  overflow: hidden;
  float: left;
  /*
  border: solid thin blue;
  height: 560px;
  */
  padding-bottom: 20px;
}

.activity-summary {
  /*
  float: left;
  */
  width: 100%;
  background-color: transparent;
}

.activity-summary .summary {
  background-color: transparent;
}

.summary.cycling .field-title {
  width: 200px;
}
.summary.running .field-title {
  width: 100px;
}
.summary .field-title {
  background-color: transparent;
  font-weight: bold;
  float: left;
  clear: left;
}

.activity-summary .summary,
.activity-summary .name {
  padding-left: 5px;
  overflow: hidden;
}

#block-garmin-connector-last-ten-non-z2-workouts > .content {
  padding: 0px ! important;
}

#block-garmin-connector-last-ten-non-z2-workouts .last-ten {
  /* padding: 10px ! important; */
  float: left;
  clear: both;
}

.last-ten .activity-name {
  padding: 5px;
}

.last-ten .activity-name p {
  margin: 0px;
  font-size: large;
}

.last-ten .date-duration {
  padding-left: 5px;
}
a.gc-player {
  padding-left: 5px;
}

.color-key {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  clear: both;
}

.color-key .sport {
  width: 50px;
  float: left;
  text-align: center;
}
.dayoff {
  background-color: #c4a883;
}
.swim,
.swimming {
  background-color: #5484ed;
  color: white;
}
.run,
.running {
  background-color: #dc2127;
  color: white;
}
.bike,
.cycling,
.biking {
  background-color: #7ae7bf;
}
.other {
  background-color: yellow;
}
.strength,
.fitness_equipment {
  color: white;
  background-color: #d6ae00;
}

/* Reward section */
#block-garmin-connector-reward-zone {
  float: left;
}

#block-garmin-connector-reward-zone .content {
  padding: 0px ! important;
  width: 100%;
}

.reward {
  width: auto;
  padding: 10px;
}

.reward.green {
  background-color: green;
  color: white;
}

.reward.yellow {
  background-color: yellow;
}

.reward.red {
  background-color: red;
  color: white;
}

span.phase {
  color: red;
}

.gc-player {
  margin-right: 10px;
}

.activity-name a {
  color: black;
}

#block-garmin-connector-quick-view-result-pane {
  float: left;
  min-height: 550px;
  width: 100%;
  margin-top: 5px;
}

#block-system-main {
  float: left;
  /* If you don't set this then, well, there are problems */
  width: 100%;
}

.show-time-frame {
  margin-right: 10px;
}

.exercises-completed-results {
  width: 100%;
  float: left;
}

#csm-ironman-corrective-exercises-form {
  float: left;
}

#garmin-downloader-ajax-exercises-done-form {
  clear: left;
  float: left;
}

.last-ten-activity-wrapper {
  float: left;
  margin: 10px;
  height: 200px;
  width: 100%;
}

.csm {
  /*
    height: auto;
    position: relative;
    height: 200px;
  */
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.csm ul.contextual-links {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.csm a.contextual-links-trigger {
  /*
  z-index: 100;
  */
  position: absolute;
  right: 0px ! important;
  float: right;
  z-index: 1;
}

.csm .contextual-links-active {
  z-index: 10;
}

ul.maintain-activity-set {
  padding-left: 1px ! important;
}

.page-workout-set-viewhtml #right {
  display: none;
}
.page-workout-set-viewhtml #main {
  width: 95%;
  background-color: white;
}
.workout-set-form {
  padding-left: 5px ! important;
}
.add-to-workout-set-form .form-type-textfield label,
.add-to-workout-set-form .form-type-textfield input {
  float: left;
}

.add-to-workout-set-form .form-item {
  margin-top: 0px;
}

.plot-container-wrapper {
  position: absolute;
  top: 0px;
}

.page-workout-set-viewhtml #wrapper {
  width: 95%;
}

.csm.contextual-links-wrapper > div {
  /*
  position: absolute;
  */
  top: 0px;
}

.csm.contextual-links-wrapper {
  top: auto;
  border: solid thin black;
  position: relative;
  float: left;
  width: 100%;
  z-index: auto;
  margin-bottom: 5px;
}

.csm a.contextual-links-trigger {
  /*
  z-index: 100;
  */
  display: block;
  position: absolute;
  right: 0px ! important;
  float: right;
  z-index: 1;
}

.csm ul.contextual-links {
  z-index: 15;
  color: black;
}
.quick-update-result {
  overflow: scroll;
}

.strength-done-form {
  float: left;
  width: 100%;
}

.strength-done-form .form-item {
  float: left;
  /*
  width: 150px;
  background-color: red;
  */
  clear: none;
}

.strength-done-form input[type=submit] {
  margin-left: 10px;
  margin-top: 28px;
  float: left;
}

.view-strength-phases .view-content,
.view-strength-phases .view-header {
  float: left;
}
.gc-drush-command {
  float: left;
  clear: both;
}
.gc-drush-command .name {
  width: 300px;
  float: left;
  clear: left;
}

.gc-drush-command .description {
  max-width: 200px;
  float: left;
}
.plot-container .legendLabel a {
  color: black;
}
.purge-results p {
  margin-bottom: 2px;
}
